<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="style/product_style.css">
    </head>
    <body>
        <div class="nav-bar"></div>

        <div id='app'>
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="product.image.path" v-bind:title="product.image.description" alt="sokken_plaatje">
                </div>
                <div class="product-info">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.description }}</p>
                    <ul>
                        <li v-for="detail in product.details">{{ detail }}</li>
                    </ul>
                    <div v-for="variant in product.variants" v-bind:key="variant.variantId">
                        <p v-on:mouseover="changeProductImage(variant.image)">{{ variant.variantColor }}</p>
                    </div>
                    <div class="cart">
                        <p>Cart {{ cart }}</p>
                        <button v-on:click="addToCart()">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://unpkg.com/vue"></script>
        <script src="Vuefile.js"></script>
    </body>
</html>